@media only screen and (min-width: 34rem) {
    /* 544px */
    #nav-button {
        display: none;
    }
    
    nav {
        grid-template-rows: 1fr;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .hero {
        text-align: center;
    }

    .content {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .events {
        display: grid;
        grid-template-rows: min-content;
    }

    .spotlight {
        grid-column: 1/3;
    }

    footer {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .discover {
        margin-top: -1.5rem;
        display: grid;
        grid-template-columns: 33% 66%;
    }

    #forecast {
        margin-left: 1rem;
    }

    .galery img {
        transition: transform .8s;
    }

    .gallery img:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }

    .join {
        margin-top: -1.5rem;
        display: grid;
        grid-template-columns: 5fr 3fr;
    }

    .list section {
        display: grid;
        grid-template-columns: 60% 40%;
    }
}