:root {
    --primary-color: #FCBF49;
    --secondary-color: #003049;
    --accent1-color: #fff8d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#mode {
    position: absolute;
    top: 44px;
    right: 0px;
    cursor: pointer;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

header span {
    color: var(--primary-color);
    padding: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    background-color: var(--accent1-color);
    margin: 0 auto;
    transition: grid-template-rows .5s ease-out;
}

nav.open {
    grid-template-rows: 1fr;
}

.nav-button::before {
    content: "\2630";
}

.nav-button {
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: center;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-button.open::before {
    content: "✕";
}

nav a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
}

nav a:hover {
    background-color: rgba(255, 183, 0, 0.2);
}

nav .active {
    background-color: rgba(255, 183, 0, 0.6);
}

ul {
    list-style-type: none;
}

.nav-links {
    overflow: hidden;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

main.dark {
    background-color: #000;
}

.hero {
    position: relative;
}

/* .hero picture {
    width: 100%;
} */

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero span {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: .75rem;
    background-color: rgba(255, 183, 0, 0.2);
    font-weight: 600;
}

h1 {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0 0 -1rem 0;
    text-decoration: underline var(--primary-color);
}

main.dark h1 {
    color: #fff;
}

.cardparent {
    padding: .5rem 1rem;
}

main.dark .cardparent {
    background-color: #000;
}

.card {
    background-color: var(--accent1-color);
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem 0;
}

.card h2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: .75rem 0;
    font-size: 1rem;
}

.card > * {
    padding: 10px
}

.card p {
    text-align: center;
}

iframe {
    border: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1rem;
}

footer p {
    padding: .25rem;
}

#lastModified {
    color: var(--primary-color);
    font-size: 0.85rem;
}