@media only screen and (min-width: 40rem) {
    header img {
        box-shadow: 1px 1px 4px rgb(22, 22, 22);
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .cardparent {
        margin: 0 2vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .cardparent section {
        box-shadow: 1px 1px 4px grey;
    }
}